body {
  background-color: white;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(35px + 2vmin);
  font-family: 'Abril Fatface', cursive;
  color: white;
  border-style: solid;
}

.App-title {
  display: block;
  margin-bottom: 0;
  margin: 5px;
}

.header-tag-line {
  font-size: 15px;
  font-family: 'Roboto Slab', serif; 
  display: block;
 margin: 0px;
}


.App-link {
  color: #61dafb;
}

/* .card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 100px
} */

